.wrapper {
    width: 960px;
    margin: 0 auto;
}



body {
    background-color: darkkhaki;
}

.header {
    margin-left:  25%;
    margin-right: 25%;
    width: 50%;
}
.header h1 {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    text-align: center;
}

.title {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.title h2 {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    text-align: center;
}


.house {
    margin-left: 46%;
    margin-right: 46%;
    width: 8%;
    
}




.lupa {
    width: 50%;
    float: left;
    
}

.lupa img {
    float: left;
    width: 15%;
    margin-left: 85%;
}


.searcher_bar {
    width: 50%;
    float: left;
}
.searcher_bar img {
    float: left;
    width: 45%;
   
}



.video_general {
    float: left;
    width: 100%;
}

.fila1 {
    float: left;
    width: 100%;
}

.fila2 {
float: left;
    width: 100%;    
}

.columna {
    float: left;
    width: 40%;
    padding:  5% 5%;
   
}

.video video {
    float: left;
    width: 100%;
    
   
}

.video videotext {
    float: left;
    width: 100%;
   
}

.videotext {
    float: left;
    width: 100%;
}

.comments {
    float: left;
    width: 100%;
}

.fotoname {
    float: left;
    width: 30%;
}


.foto {
    float: left;
    width: 100%;
    
}

.name{
    float: left;
    width: 100%;
    
}
.text {
    float: left;
    width: 70%;
}

.text p {
    float: left;
    width: 100%;
}
.coment {
    float: left;
    width: 100%;
}

.inicialcoment {
    float: left;
    width: 100%
}
.footer {
    float: left;
    width: 100%;
}

.footer_right img {
    float: left;
    width: 42px;
   
  
}
.footer_left {
    width: 70%;
    float: left;
    padding-top: 18px;
   
}

.footer_right {
   margin-left: 15%;
    float: left;
    width: 15%;
}






.index {
    float: left;
    width: 100%;
    text-align: center;
}

.general_profile {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.profile {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
    
   
}

.profile h2 {
    float: left;
    width: 90%;
    margin-left: 40%;
}

.profile_link {
    float: left;
    width: 50%;
}

.profile_link img{
    float: left;
    width: 30%;
}

.general_wall {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.wall {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
}
.wall h2 {
    float: left;
    width: 90%;
    margin-left: 40%;
     }
.wall_link {
    float: left;
    width: 50%;
    
}

.wall_link img {
    float: left;
    width: 30%;
}

.general_management {
    float: left;
    width: 100%;
    
}

.management {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
}

.management h2 {
    float: left;
    width: 90%;
    margin-left: 28%;
}

.management_link {
     float: left;
    width: 50%;
    
}

.management_link img {
     float: left;
    width: 30%;
}

.banana_logo {
    float: left;
    width: 100%;
}

.banana_logo img {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*cambiarlo entero*/

.index {
    float: left;
    width: 100%;
    text-align: center;
}

.general_videoteca {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.videoteca {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
    
   
}

.videoteca h2 {
    float: left;
    width: 90%;
    margin-left: 40%;
}

.videoteca_link {
    float: left;
    width: 50%;
}

.profile_link img{
    float: left;
    width: 30%;
}

.general_videoedit {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.videoedit {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
}
.videoedit h2 {
    float: left;
    width: 90%;
    margin-left: 40%;
     }
.videoedit_link {
    float: left;
    width: 50%;
    
}

.videoedit_link img {
    float: left;
    width: 30%;
}

.general_factory {
    float: left;
    width: 100%;
    
}

.factory {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 41px;
}

.factory h2 {
    float: left;
    width: 90%;
    margin-left: 28%;
}

.factory_link {
     float: left;
    width: 50%;
    
}

.factory_link img {
     float: left;
    width: 30%;
}

.banana_logo {
    float: left;
    width: 100%;
}

.banana_logo img {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}