.wrapper {
    width: 960px;
    margin: 0 auto;
}

.videoblock{
    width: 50%;
    float: left;
}


.videoblock video {
    max-width: 100%;
}

body {
    background-color: darkkhaki;
}

.header {
    margin-left:  25%;
    margin-right: 25%;
    width: 50%;
}
.header h1 {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    text-align: center;
}

.title {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.title h2 {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    text-align: center;
}

